[2018-09-14 19:07] riddella opened #2 "Add next 10 "reprint canon" titles"
Here are the next 10 titles to add to the "reprint canon":

- [x] James	The Spoils of Poynton	1897: 7958__james_poynton_chp17of22_seed7958.html
- [x] Gaskell	The Grey Woman and Other Tales: 7705__gaskell_grey_woman_chp4of12_seed7705.html (12 distinct "sections", 4 is the entire section titled "CURIOUS IF TRUE.")
- [x] Trollope	Orley Farm	1862: 7012__trollope_orley_farm_chp60of80_seed7012.html
- [x

[2018-09-14 19:08] riddella commented on #2
@ayarnell There's absolutely no rush here. I've listed 10 as this is just the way we've been doing things (i.e., 10 at a time).

[2018-09-24 00:35] ayarnell commented on #2
@riddella Thanks! I did the first one 7958__james_poynton_chp17of22_seed7958.html and tried to add it, but I think it only got added to my fork? I am a little confused on how to add it to the main repository I think.

[2018-10-01 09:39] riddella commented on #2
(I'm just seeing this now; I'll update my email settings so I get these messages sooner.)

Try going to https://github.com/ayarnell/random-canon and clicking on "pull request" (on the right hand side).

It does look like the main repository and your fork are out of sync. You probably need to do something like ``git pull --rebase``. We can go over this in person if you encounter trouble. (This desc

[2018-10-02 00:45] ayarnell commented on #2
@riddella  Thanks! I did the pull request. I think the rebase also worked. I've never actually used git in the command line before, but the article you linked to was pretty clear. Let me know if it did actually work!

[2018-10-12 19:51] riddella opened #6 "Add next 10 random canon titles (41-47)"
Random Canon #41 to 47

- [x] 15770 R. D. Chetwode, The Knight of the Golden Chain (1898) Hathitrust US edition; 34 chapters; 15770__chetwode_knight_chp9of34_seed15770.html
- [x] 1054 Mrs. Alexander, A Crooked Path (1889) PG, Hathitrust; 36 chapters; 1054__alexander_crooked_chp5of36_seed1054.html
- [x] 4651 George Gissing, The Emancipated (1890) PG, Hathitrust; 16 + 17 = 33 chapters; 4651__gissing

[2018-10-18 12:58] riddella opened #8 "Add random canon titles (51-55)"
[code]

[2018-10-18 12:59] riddella opened #9 "Add random canon titles (56-60)"
[code]

[2018-10-18 12:59] riddella commented on #6
Assigned to LS.

[2018-10-19 21:38] riddella opened #10 "Add random canon titles 61-65"
[code]

[2018-10-19 21:39] riddella opened #11 "Add random canon titles (66-70)"
[code]

[2018-10-21 21:28] leschnei commented on #6
Chetwode completed

[2018-10-26 17:03] riddella opened #14 "Quality control script passes `<p ="">`"
Apparently ``<p ="">`` is valid HTML5. tidy issues this warning:

[code]

The quality control script should be modified to emit an error message when it sees any warnings beyond the one that we expect to see (``Warning: inserting implicit <body>``).

[2018-10-26 17:04] riddella commented on #10
Assigned to SD.

[2018-10-26 19:33] riddella opened #15 "Double-check HTML5 warnings in existing texts"
The quality control script has been updated to check for most warnings in addition to errors. We should try to produce warning-free HTML5 if possible. Given how few tags we are using this should be easy.

Here are the warnings that need to be checked (below). Some of the warnings messages are about unexpected unicode characters. It might be good to verify that these are, in fact, the characters we

[2018-10-26 19:37] #14 closed

[2018-10-26 19:42] riddella opened #17 "New novels can be added without being referenced in a metadata csv"
Every novel should be referenced in one or more of the metadata csv files. A script could check for this.

[2018-10-26 19:44] riddella opened #18 "Check pull requests for quality control errors"
Run the quality control script on all commits. Abort if any errors are present. (Warnings can be ignored.)

[2018-10-26 19:44] riddella commented on #15
@ayarnell any interest in tackling this?

[2018-10-27 03:11] leschnei commented on #6
Mrs. Alexander completed
[Mrs.Alexander.txt](https://github.com/random-canon/random-canon/files/2521400/Mrs.Alexander.txt)

[2018-10-29 00:56] hanmills commented on #9
[grantfrankhilton.txt](https://github.com/random-canon/random-canon/files/2523389/grantfrankhilton.txt)

[craikcousintrix.txt](https://github.com/random-canon/random-canon/files/2523390/craikcousintrix.txt)

[Brooksnaggletons.txt](https://github.com/random-canon/random-canon/files/2523391/Brooksnaggletons.txt)

[farninghamthecathedralsshadow.txt](https://github.com/random-canon/random-canon/files/

[2018-10-29 10:19] riddella commented on #8
@ayarnell have you started on these? If you'd prefer to work on the post-processing and git work, I'll give these to someone else.

[2018-10-29 10:19] riddella commented on #11
@hanmills interested in tackling these five next?

[2018-10-29 12:37] ayarnell commented on #8
@riddella I've started on the first two. I would not mind finishing up this batch.

[2018-10-30 03:01] hanmills commented on #11
I found a Mary Bertrand (1860) on Google Books, but it was written by Francis Meredith. Is that the same book but perhaps written under a different name?

[hardyfriendandlover.txt](https://github.com/random-canon/random-canon/files/2527828/hardyfriendandlover.txt)

[2018-10-30 10:29] riddella commented on #11
Good question! Here's how to check for pseudonyms.

- Find the title on the At the Circulating Library database (ATCL). Use
the search function. Here's a link to the title:
http://www.victorianresearch.org/atcl/show_title.php?tid=3949&aid=816
- Click on the author name on this title record page.

And you'll see a note, "Alternate Name(s): J. Calder Ayrton (pseudonym);
Francis Meredith (pseudonym)"

[2018-10-30 19:31] #2 closed

[2018-10-30 19:31] riddella commented on #2
All entered.

[2018-10-31 04:09] hanmills commented on #11
Thanks for the link for checking pseudonyms! Here's the latest batch.

[chapmanmarybertrand.txt](https://github.com/random-canon/random-canon/files/2532630/chapmanmarybertrand.txt)

[hardyfriendandlover.txt](https://github.com/random-canon/random-canon/files/2532632/hardyfriendandlover.txt)

[pardoereginaldlyle.txt](https://github.com/random-canon/random-canon/files/2532631/pardoereginaldlyle.txt)

[2018-11-01 00:31] ayarnell commented on #6
@riddella Pull request opened for 1054 Mrs. Alexander

[2018-11-02 01:51] ayarnell commented on #8
@riddella Pull request opened for 4383

[2018-11-02 02:01] ayarnell commented on #15
@riddella Checked first five. 10236 fine, opened pull request for corrected versions of 11919,13839, 12419, 1453

[2018-11-03 15:45] riddella opened #27 "Add reprint canon titles 41-44"
Note: these are not random canon titles but rather canonical/reprint canon titles.

- dickens edwin drood 1870 `7474__dickens_mystery_edwin_drood_chp20of23_seed7474.html` PG: https://www.gutenberg.org/files/564/564-h/564-h.htm
- hardy A Laodicean 1881 six books (15 chp, 7 chp, 11 chp, 5 chp, 5 chp) 43 chapters total `921__hardy_laodicean_chp23of43_seed921.html` https://www.gutenberg.org/files/3258

[2018-11-03 15:48] #9 closed

[2018-11-03 23:09] leschnei commented on #6
[Gissing.txt](https://github.com/random-canon/random-canon/files/2545411/Gissing.txt)

[2018-11-04 10:52] riddella opened #28 "Add reprint canon titles 45-50"
Note: these are not random canon titles but rather canonical/reprint canon titles.

- James | Roderick Hudson | 1879, 13 chapters, ``2308__james_roderick_hudson_chp8of13_seed2308.html`` PG https://www.gutenberg.org/files/176/176-h/176-h.htm
- Hardy | Two on a Tower | 1882, 41 chapters ``923__hardy_two_tower_chp31of41_seed923.html``, PG: https://www.gutenberg.org/files/3146/3146-h/3146-h.htm
- Schr

[2018-11-06 03:56] hanmills commented on #27
Here are #41-44. I'm ready for the next whenver.
Thanks!
Hannah

[dickensedwindrood.txt](https://github.com/random-canon/random-canon/files/2551542/dickensedwindrood.txt)

[hardylaodocean.txt](https://github.com/random-canon/random-canon/files/2551543/hardylaodocean.txt)

[eliotfelixholt.txt](https://github.com/random-canon/random-canon/files/2551544/eliotfelixholt.txt)

[levyromanceofashop.txt](h

[2018-11-08 02:48] ayarnell commented on #11
@riddella Pull request opened for texts 66-70

[2018-11-08 11:04] #11 closed

[2018-11-08 19:41] riddella commented on #8
@ayarnell I've given ``1727 Russell Marooned (1889) Hathitrust`` to Rachel Cordon (1st year MLS) as her first novel.

[2018-11-10 17:10] ayarnell commented on #6
@riddella Pull request opened for 4651 Gissing.

[2018-11-10 17:40] ayarnell commented on #8
@riddella Sounds good. The Eve Lester chapter is almost 100 pages long, so is taking a bit of time. :-)

[2018-11-10 19:21] riddella opened #31 "Resample a (1874, U) novel for random canon sample index 69"
I think a novel by an "Ursula" should be coded as a woman-authored text. It's coded as a unknown-gender-authored text.

Depending on the verdict here, we need to resample a text from the ``(1874, U)`` cluster.

[2018-11-12 01:37] hanmills commented on #28
Finished with another batch.

[jamesroderickhudson.txt](https://github.com/random-canon/random-canon/files/2570174/jamesroderickhudson.txt)

[hardyrtwoonatower.txt](https://github.com/random-canon/random-canon/files/2570176/hardyrtwoonatower.txt)

[schreinerstoryofanafricanfarm.txt](https://github.com/random-canon/random-canon/files/2570177/schreinerstoryofanafricanfarm.txt)

[collinsnoname.txt](h

[2018-11-12 17:53] riddella opened #33 "Random canon titles 48, 49, 50"
- [x] 4844 Egerton Castle, Consequences (1891) Google Books, Hathitrust?;  8 + 27 = 35 chapters; 4844__castle_consequences_chp9of35_seed4844.html
- [x] 12115 John Hutcheson, Afloat at Last (1890) PG; 17 chapters; 12115__hutcheson_afloat_chp3of17_seed12115.html
- [x] 2623 James Payn, A Woman’s Vengeance (1872) Hathitrust; 44 chapters; 2623__payn_chp38of44_seed2623.html

[2018-11-12 17:54] riddella commented on #6
@leschnei I've taken three from the bottom of the list. If you've already started on them, let me know.

[2018-11-12 17:55] riddella commented on #28
@hanmills That was fast. There are 3 more titles at #33 for you next.

[2018-11-12 18:17] riddella opened #34 "Add reprint canon titles 51-54"
These are reprint canon titles 51-55

- [x] Trollope	Dr. Wortle's School	1881 24 chapters in two volumes, ``6112__trollope_wortle_chp21of24_seed6112.html`` PG
- [x] Eliot	Silas Marner	1861 22 (21 + conclusion) ``7475__eliot_silas_marner_chp18of22_seed7475.html`` PG
- [x] Wells	The War of the Worlds	1898 ``8595__wells_war_worlds_chp27of27_seed8595.html`` PG
- [x] Meredith	The Egoist	1879  50 + prel

[2018-11-12 22:41] leschnei commented on #6
I haven’t—thanks for the head’s up!

Laura

[2018-11-17 02:58] leschnei commented on #6
Keith completed
[Keith.txt](https://github.com/random-canon/random-canon/files/2591435/Keith.txt)

[2018-11-17 19:49] ayarnell commented on #6
@riddella Pull Request #35 contains Keith.

[2018-11-17 19:50] ayarnell commented on #8
@riddella Pull Request #35 Contains Diehl Eve Lester

[2018-11-17 19:51] ayarnell commented on #27
@riddella Pull Request #35 contains texts 41-44

[2018-11-24 04:05] hanmills commented on #33
Here's the next batch.
[castleconsequences.txt](https://github.com/random-canon/random-canon/files/2611992/castleconsequences.txt)
[hutchesonafloatatlast.txt](https://github.com/random-canon/random-canon/files/2611993/hutchesonafloatatlast.txt)
[paynawomansvengeance.txt](https://github.com/random-canon/random-canon/files/2611994/paynawomansvengeance.txt)

[2018-11-25 03:16] ayarnell commented on #6
@riddella Spicer part of pull request #36

[2018-11-26 00:43] riddella opened #38 "1838 novels, #1-5"
See table below. Add a comment if something is not clear.

random_order | title_id | last_name | title_main | publisher_name | num_chapters | filename | note
-- | -- | -- | -- | -- | -- | -- | --
1 | 3837 | Merle | Melton de Mowbray | Bentley | 16+16+16 | 3837__chp9of48_seed3837.html |  
2 | 15876 | Adams | Convent Tales | F. C. Westley |   |   | not digitalized
3 | 3633 | Joseph | Warner Arundell

[2018-11-26 00:43] riddella commented on #38
Since index 2 is not digitized, skip it.

[2018-11-26 00:44] riddella commented on #33
@hanmills Thanks for these. There's more at #38 !

[2018-11-26 00:51] riddella opened #39 "1838 novels, #5-9"
Note: these are all 1838 novels. You should be able to locate a first edition.

random_order | title_id | last_name | title_main | publisher_name | num_chapters | filename | note
-- | -- | -- | -- | -- | -- | -- | --
5 | 3144 | Burdon | The Lost Evidence | Saunders and Otley | 11+12+14 | 3144__chp18of37_seed3144.html |  
6 | 15309 | Paget | Self-Dependence | Darton and Harvey | 16 | 15309__chp3of1

[2018-11-26 00:52] riddella opened #40 "1838 novels, #10-14"
random_order | title_id | last_name | title_main | publisher_name | num_chapters | filename | note |  
-- | -- | -- | -- | -- | -- | -- | -- | --
10 | 15891 | Tuite | The Reclaimed Family | Simpkin | 57 | 15891__chp19of57_seed15891.html |   |  
11 | 16715 | Bethune | Tales and Sketches of the Scottish Peasantry | Fraser and Co. | 10 | 16715__chp3of10_seed16715.html | 8 stories; one divided into 3

[2018-11-28 19:18] riddella commented on #31
Reclassified. We need to sample a (1874, F) for index 69.

[2018-11-28 20:47] rachelcondon commented on #8
[1727__chp24of35_seed1727.txt](https://github.com/random-canon/random-canon/files/2626533/1727__chp24of35_seed1727.txt)

Russell, Marooned (1889)

[2018-11-29 03:36] ayarnell commented on #33
@hanmills Based on your comment in the text for payn, citing illegible words on page 238, I think you used this [Leipzig edition](https://catalog.hathitrust.org/Record/011405700?type%5B%5D=all&lookfor%5B%5D=payn%20woman%27s%20vengeance&ft=ft)
I think what we actually want is [this one]( https://catalog.hathitrust.org/Record/008724340?type%5B%5D=all&lookfor%5B%5D=payn%20woman%27s%20vengeance&ft=ft

[2018-11-29 03:54] ayarnell commented on #8
@riddella Pull request #42 contains 1727 and 7447. That should finish up this group.

[2018-11-29 03:55] ayarnell commented on #33
@riddella Pull request #42 contains 4844 and 12115.

[2018-11-29 05:38] hanmills commented on #33
@ayarnell Sorry about that - here is the correct text.
[paynawomansvengeancethevision.txt](https://github.com/random-canon/random-canon/files/2627707/paynawomansvengeancethevision.txt)

[2018-12-01 19:35] ayarnell commented on #33
@hanmills Thanks! @riddella Text 2623 is in pull request #44

[2018-12-01 21:33] #33 closed

[2018-12-01 21:34] #15 closed

[2018-12-01 21:35] #8 closed

[2018-12-06 14:21] riddella opened #45 "Check that scans of first editions exist for first batch"
Are scans of the *first edition* of these novels available? Second editions, American editions *do not count*?

[code]

Search:
- Online books page
- Hathi Trust
- Google Books
- Internet archive
- Google (author name and book title)

First edition scans are likely available. But we need to double check.

[2018-12-06 14:23] riddella opened #46 "Re-check for first edition scans, otherwise remove"
Scans of first editions may not be available. Double check. If no scan is available, remove from random canon and resample.
[code]

- [ ] Remove Parr
- [ ] Remove Chetwode

(Hilton is \#56 and, according to TB email below, is ok)

[2018-12-07 20:38] riddella commented on #45
- Boothby
- Boldrewood

are fine

[2018-12-07 22:47] riddella commented on #45
In 1-20 only one (Charming Renee) does not have a scan. It should be resampled.
Also
- Payn, Halves (1875) should be discarded and another M, 1875 resampled because we know that Halves publication date was 1876. (This is reflected in the current atcl)

[2018-12-07 23:01] riddella opened #47 "Resample titles where no first edition scan can be found"
- 14138 Mulholland, Terry (1900) 8 chapters  found in Project Gutenberg, 14138__chp1of8_seed14138.html
- 12115 John Hutcheson, Afloat at Last (1890) PG
- 9651 E. Phillip Oppenheim, Mr. Marx’s Secret (1899), PG

[2018-12-09 13:38] riddella opened #48 "Replacement titles 1-3"
A handful of novels originally included do not have first edition scans. We are replacing them.

[code]

[2018-12-09 13:40] riddella commented on #38
@hanmills great. More novels at #48

[2018-12-09 13:45] riddella commented on #46
More notes from TB email:
[code]

[2018-12-09 19:06] ayarnell commented on #6
Last two of this batch are in pull request #49.

[2018-12-09 19:08] ayarnell commented on #38
@riddella  This batch is in pull request #49

[2018-12-10 15:08] riddella opened #50 "Replacement titles 4-6"
Be sure to use the first edition (year should match year indicated)

[code]

[2018-12-10 15:10] riddella opened #51 "Replacement titles 7-10"
Be sure to use scan of first edition (scanned text publication year should match indicated year)
[code]

[2018-12-10 23:39] riddella commented on #50
@ayarnell can I interest you in these?

[2018-12-10 23:56] #6 closed

[2018-12-11 01:00] ayarnell commented on #50
@riddella Sure!

[2018-12-11 17:54] riddella commented on #40
@leschnei if you haven't started on these, hold off. There are some others that need attention first.

[2018-12-20 17:22] hanmills commented on #48
[mackennachildoffortune.txt](https://github.com/random-canon/random-canon/files/2699820/mackennachildoffortune.txt)
[jamesthefate.txt](https://github.com/random-canon/random-canon/files/2699821/jamesthefate.txt)
[anonthelastinca.txt](https://github.com/random-canon/random-canon/files/2699823/anonthelastinca.txt)

[2019-01-05 21:51] leschnei commented on #40
Hi Professor Riddell,

I hope you’ve had a good break! I’ve been so busy that I haven’t been able to look at the assignments until now—which ones would you like me to start on?

Best,
Laura

[2019-01-07 18:22] riddella opened #54 "Add note about "intertitles" to documentation"
At least one of the novels has "intertitles". As we are excluding chapter titles from the body of the chapter, we need to exclude these as well. Here's an example of a chapter which has a chapter title and intertitles:

[code]

[2019-01-13 14:17] riddella commented on #40
@leschnei feel free to work on these. I think we have the more urgent encoding done now.

[2019-01-17 02:48] hanmills commented on #51
Here's the next batch.
[crokerangel.txt](https://github.com/random-canon/random-canon/files/2766959/crokerangel.txt)
[raymondtwomen.txt](https://github.com/random-canon/random-canon/files/2766960/raymondtwomen.txt)
[coleridgewaynflete.txt](https://github.com/random-canon/random-canon/files/2766962/coleridgewaynflete.txt)
[jeffreyjamesvraille.txt](https://github.com/random-canon/random-canon/files/

[2019-01-18 16:02] riddella opened #56 "Move class of 1838 to a different repository"
These novels are not related to the random canon project.

[2019-01-18 16:30] #48 closed

[2019-01-18 16:44] riddella opened #59 "Spacing between quotation marks is not handled by smartypants"
compare:

[code]
[code]

I think this can be cleaned up automatically with a Python script.

[2019-01-18 16:50] riddella opened #60 "Replacement of the replacement for sample index 30 (1900, w)"
The title chosen as the replacement for sample index 14 is already used in sample index 30. Since we are sampling without replacement, we need to replace the second one.

[2019-01-18 18:55] #54 closed

[2019-01-18 18:59] riddella commented on #47
mulholland done.

[2019-01-18 18:59] #50 closed

[2019-01-18 19:22] riddella commented on #10
@sduke don't start on these (unless you've already started)

[2019-01-20 22:39] sduke commented on #10
All 5 are done:
[372_Kingsley_Silcote_of_Silcotes_chp8of61_seed372.txt](https://github.com/random-canon/random-canon/files/2777101/372_Kingsley_Silcote_of_Silcotes_chp8of61_seed372.txt)
[7430_Ainsworth_The_Star_Chamber_chp58of62_seed7430.txt](https://github.com/random-canon/random-canon/files/2777102/7430_Ainsworth_The_Star_Chamber_chp58of62_seed7430.txt)
[8371_Fletcher_Pasquinado_chp10of12_seed83

[2019-01-21 02:02] ayarnell commented on #51
@riddella Replacement titles 7-10 are PR #62.

[2019-01-22 18:32] #51 closed

[2019-01-22 18:45] #31 closed

[2019-01-22 18:45] #47 closed

[2019-01-22 18:48] riddella commented on #10
Thanks @sduke ! Looks good.

[2019-01-22 18:50] #46 closed

[2019-01-22 19:02] riddella commented on #39
Moved to https://github.com/literary-materials/class-of-1838-novels/issues/1

[2019-01-22 19:02] #39 closed

[2019-01-22 19:06] #56 closed

[2019-01-22 19:10] riddella commented on #40
Moved to https://github.com/literary-materials/class-of-1838-novels/issues/2

[2019-01-22 19:10] #40 closed

[2019-01-22 20:45] riddella commented on #34
@ayarnell forget about these. (Feel free to finish whatever you've started, if you've started on one.)

[2019-01-23 20:31] #60 closed

[2019-01-23 21:07] riddella commented on #10
@ayarnell if you're unlikely to get to this soon, let me know and I'll add them.

[2019-01-23 22:47] ayarnell commented on #10
I should get it to tomorrow, if that’s okay :-)

On Wednesday, January 23, 2019, riddella <notifications@github.com> wrote:

[2019-01-25 02:11] ayarnell commented on #10
@riddella These are done and in PR #68.

[2019-01-25 12:57] riddella commented on #59
Added a note about this in the README

[2019-01-25 12:57] #59 closed

[2019-02-11 20:44] riddella opened #74 "The Admiral's Ward (1883) has two different London editions"
Multivolume edition (51 chapters):
- Vol 1: https://archive.org/details/admiralsward01alex/page/n4
- Vol 2: https://books.google.com/books?id=EfEBAAAAQAA
- Vol 3: https://archive.org/details/admiralsward03alex/page/n4

Popular edition (50 chapters):
- https://books.google.com/books?id=9j82vwEACAAJ

Both published in London by Bentley

[2019-02-20 16:53] riddella commented on #74
new filename:

[code]

New chapter needed is chapter 49, or chapter number 16 of volume 3. It's available here: https://archive.org/details/admiralsward03alex/page/280 , plain text version <https://archive.org/stream/admiralsward03alex/admiralsward03alex_djvu.txt>.

[2019-03-06 16:46] riddella opened #78 "Metadata bug: Eliot's Romola has wrong date"
should be 1863

[2019-03-12 21:32] riddella commented on #34
Reopening this as we're going to try to get 70 reprint titles.

[2019-03-12 21:58] riddella opened #79 "Add reprint canon titles 55-57"
Feel free to use Project Gutenberg for these texts.

- [x]  Wells | The Island of Dr. Moreau | 1896, intro + 22 chapters = 23 chapters; 8591__wells_island_moreau_chp12of23_seed8591.html (counting the intro as chapter 1, so chp 12 == chp 11 in the text)
- [x] Wilde	Lord Arthur Savile's Crime and Other Stories	1891 (5 "books" 3 of which are divided into chapters, 18 is the final chapter of the final

[2019-03-13 03:40] ayarnell commented on #34
@riddella Should these be done before any other 1838 texts?

[2019-03-13 14:26] riddella commented on #34
Getting to 70 reprint canon texts is slightly more important. No need to
switch tasks though if you've already started on a block of 1838 texts.

On 3/12/19 11:40 PM, ayarnell wrote:

[2019-03-16 02:44] ayarnell commented on #34
@riddella It's good timing, finished the batch of 1838 novels I was working on the other day. :-)

[2019-03-16 12:49] #78 closed

[2019-03-22 02:03] ayarnell commented on #34
@riddella Opened PR #82 for the last three on the list. I think Trollope Dr. Whortle's School was already added.

[2019-03-24 02:55] ayarnell commented on #79
@riddella I can start on these

[2019-03-25 15:49] riddella commented on #79
@ayarnell Great. Feel free to assign yourself to an issue if nobody else is assigned.

[2019-03-25 16:16] ayarnell commented on #79
@riddella Thanks. I see the option to assign myself in class of 1838, but it did not look like I had that option in this repository.

[2019-03-25 16:38] riddella commented on #79
@ayarnell fixed this. You should be able to assign yourself now.

[2019-03-31 00:59] ayarnell commented on #79
@riddella PR #83 contains reprint titles 55-57

[2019-03-31 21:31] riddella opened #84 "Reprint Canon titles 58-61"
Project Gutenberg is fine for these.

- [x] Hardy Under the Greenwood Tree several parts, chapter 21 is chapter 4 of "Part the Third": ``7498__hardy_under_greenwood_tree_chp21of30_seed7498.html``
- [x] Trollope, Doctor Thorne chp 7 ``4122__trollope_doctor_thorne_chp7of47_seed4122.html``
- [x] Trollope, Small House at Allington ``5496__trollope_small_house_allington_chp18of60_seed5496.html``
- [x]

[2019-03-31 21:39] riddella opened #85 "Reprint canon 62, 63"
Gutenberg is fine for these.

- [ ] Kipling Stalky and Co. ``9109__kipling_stalky_and_co_chp4of9_seed9109.html`` "chp 4" is the 4th story, THE IMPRESSIONISTS.
- [ ] H. G. Wells, *The Invisible Man* ``8594__wells_invisible_man_chp16of29_seed8594.html``

[2019-04-02 19:32] riddella opened #86 "Filename of Miss Marjoribanks incorrectly spelled"
It's *Miss Marjoribanks*

[2019-04-06 03:32] ayarnell commented on #84
@riddella Opened PR #87 for these titles.

[2019-04-07 20:50] #34 closed

[2019-04-07 21:41] #86 closed

[2019-04-09 19:22] riddella commented on #85
Ignore this. I may have entered these out of order.

[2019-04-09 19:22] #85 closed

[2019-04-09 19:53] riddella opened #90 "Reprint Canon Titles 45-48 (correct numbering)"
Project Gutenberg is fine for these. The text below is a bit messy but you can pick out the chapter number from the filename:
[code]

[2019-04-10 17:17] riddella opened #91 "Reprint Canon Titles 49-51 (correct numbering)"
Project gutenberg texts are fine for these.
[code]

[2019-04-10 17:18] riddella opened #92 "Reprint Canon Titles 52 (correct numbering)"
[code]
broadview

[2019-04-16 20:09] riddella opened #93 "Reprint Canon Titles 53,55-57 (correct numbering)"
All should be on project gutenberg
[code]

[2019-04-16 20:09] riddella opened #94 "Reprint Canon Titles 54 (correct numbering)"
[code]
broadview

[2019-04-16 20:16] riddella opened #95 "Reprint Canon Titles 58-60 (correct numbering)"
Project Gutenberg editions are fine.
[code]

[2019-04-20 21:34] ayarnell commented on #90
@riddella Opened PR #96 for titles 45 to 47, 48 was added in last batch.

[2019-04-22 15:57] #79 closed

[2019-04-22 16:08] #84 closed

[2019-04-22 16:12] #74 closed

[2019-04-26 01:36] ayarnell commented on #91
@riddella For Wessex Tales, is that Chapter 5 of Interlopers? Or just treat all of Interlopers as one chapter?

[2019-04-26 11:35] riddella commented on #91
Thanks for catching this. I didn't count the sections/chapters correctly. Looks like there are 32. The sample chapter is the very last one, so "CHAPTER VII—THE WALK TO WARM’ELL CROSS AND AFTERWARDS" of " The Distracted Preacher"

Here's the new filename: 6087__hardy_wessex_tales_chp32of32_seed6087.html

[2019-04-28 01:13] ayarnell commented on #91
@riddella Perfect, thanks!

[2019-04-28 01:46] ayarnell commented on #91
@riddella Added titles 49-51 in PR #103

[2019-05-12 02:59] hanmills commented on #95
[4484__hardy_tess_d'urbervilles_chp46of59_seed4484.txt](https://github.com/random-canon/random-canon/files/3169674/4484__hardy_tess_d.urbervilles_chp46of59_seed4484.txt)
[9710__jerome_three_men_boat_chp7of19_seed9710.txt](https://github.com/random-canon/random-canon/files/3169675/9710__jerome_three_men_boat_chp7of19_seed9710.txt)
[3129__brönte_jane_eyre_chp3of38_seed3129.txt](https://github.com/ra

[2019-05-12 13:33] riddella opened #104 "Unicode character for redaction / deletion"
It appears there is a character which fits the "redaction" character which we have seen periodically.

⸺ U+2E3A TWO-EM DASH (omission dash)

[2019-05-14 20:20] riddella opened #105 "Random Canon titles 71-73"
Here are three Random Canon titles to enter. Be sure to use a first edition.

[code]

[2019-05-14 20:21] riddella opened #106 "Random Canon titles 74-76"
Here are details about random canon titles. Be sure to use first edition page images.

[code]

[2019-05-14 20:22] riddella opened #107 "Random Canon titles 77-78"
Two random canon titles. Be sure to use first edition page images/scans.

[code]

[2019-05-14 20:22] riddella opened #108 "Random Canon titles 79-80"
Two random canon titles. Be sure to use first edition page images.

[code]

[2019-05-15 01:50] ayarnell commented on #93
@riddella Opened PR #109 for these texts.

[2019-05-23 19:59] joeybass1 commented on #107
[finished chapters.zip](https://github.com/random-canon/random-canon/files/3213929/finished.chapters.zip)

[2019-05-23 20:06] riddella commented on #107
Great. Either @ayarnell or myself will run the quality control steps. @joeybass1 feel free to pick another issue that isn't assigned (looks like that's just #108 for the moment).

[2019-05-23 20:49] riddella opened #110 "Random Canon titles 81-82"
Be sure to use first edition page images/scans.

[code]

[2019-05-23 20:50] riddella opened #111 "Random Canon Titles 83-84"
Be sure to use the first edition.

[code]

[2019-05-23 20:51] riddella opened #112 "Random Canon titles 85"
Be sure to use the first edition.
[code]

[2019-05-23 20:51] riddella opened #113 "Random Canon titles 88"
Be sure to use the first edition.

[code]

[2019-05-23 20:52] riddella opened #114 "Random Canon titles 89-90"
Be sure to use the first edition

[code]

[2019-05-23 22:53] riddella commented on #107
For whomever ends up doing the pull request: the commit author for this should be ``Joseph Bassett <joeybass@iu.edu>``

[2019-05-24 18:47] riddella opened #115 "Random Canon replacement titles 1-2"
Be sure to use first edition page images.
[code]

[2019-05-24 18:47] riddella opened #116 "Random Canon replacement titles 3-4"
Be sure to use first-edition page images

[code]

[2019-05-24 18:48] riddella opened #117 "Random Canon replacement titles 5-7"
Be sure to use first-edition page images

[code]

[2019-05-24 18:49] riddella opened #118 "Update metadata to reflect replacements"
These are replacements that need to be made due to page images having been discovered:

[code]

[2019-05-24 19:46] riddella commented on #118
13 is Signora, (macdonald was replaced)

[2019-05-24 20:25] riddella opened #119 "Update script to check for <em>"
We're using `<em>` now, not `<i>`.

Could replace all uses of <i> with <em> at the same time.

[2019-05-25 19:31] riddella commented on #110
@sduke skip 81 if you haven't started it. We added it by mistake.

[2019-05-25 20:01] riddella commented on #119
Fixed in 40acdc4ba84ad9e2f36c0104d1b1cae0e7735aff

[2019-05-25 20:01] #119 closed

[2019-05-25 20:04] riddella commented on #104
Fixed in e13bfe6

[2019-05-25 20:04] #104 closed

[2019-05-26 03:29] ayarnell commented on #95
@riddella Opened PR #120 for these texts.

[2019-05-27 01:01] hanmills commented on #105
[4026__bentley_prince_of_orange_chp46of47_seed4026.txt](https://github.com/random-canon/random-canon/files/3221411/4026__bentley_prince_of_orange_chp46of47_seed4026.txt)
[2664__reade_a_simpleton_chp28of29_seed2664.txt](https://github.com/random-canon/random-canon/files/3221412/2664__reade_a_simpleton_chp28of29_seed2664.txt)
[7437__yates_two_by_tricks_chp1of20_seed7437.txt](https://github.com/rando

[2019-05-29 21:12] joeybass1 commented on #108
[finished chapters #108.zip](https://github.com/random-canon/random-canon/files/3234495/finished.chapters.108.zip)

[2019-05-31 17:55] joeybass1 commented on #113
[finished chapters #113.zip](https://github.com/random-canon/random-canon/files/3242346/finished.chapters.113.zip)

[2019-05-31 18:37] riddella opened #121 "Reprint Canon Titles 61-64 (correct numbering)"
Reprint Canon Titles 61-64

url of source is indicated. First edition scans are not required for the Reprint Canon novels.

[code]

Note for @riddella , the Zola translation is not the one referenced in ATCL, this fact needs to be added to the metadata as a note.

[2019-06-01 19:49] hanmills commented on #112
[14922__laurie_theconquestofthemoon_chp33of36_seed14922.txt](https://github.com/random-canon/random-canon/files/3244154/14922__laurie_theconquestofthemoon_chp33of36_seed14922.txt)

[2019-06-02 02:44] ayarnell commented on #105
@riddella Text 7437 has a couple Ancient Greek words in it. What is the best way to enter these? I entered the Unicode characters, but of course the script does not like that.

[2019-06-02 03:02] ayarnell commented on #105
@riddella 4026 and 2664 are in PR #123

[2019-06-02 03:04] ayarnell commented on #107
@riddella 5691 and 14763 are in PR #123

[2019-06-04 17:17] riddella commented on #105
@riddella Is the script giving you an error or just some warnings? If there are just warnings, I'd try to ignore them, given that you know the greek characters are correctly entered.

[2019-06-04 17:38] riddella opened #124 "Check for tags, attributes not used in encoding"
We do not use `<span>` tags. We should check for their presence.

We also do not use the class attribute, e.g., `<p class="indent">`, we should check for this in the quality control script as well.

[2019-06-04 17:48] #92 closed

[2019-06-04 17:48] #94 closed

[2019-06-05 01:19] joeybass1 commented on #114
[finished chapters #114.zip](https://github.com/random-canon/random-canon/files/3255087/finished.chapters.114.zip)

[2019-06-05 19:47] sduke commented on #110
[2338_Grant_Our_Next_Neighbor_chp20of38_seed2338.txt](https://github.com/random-canon/random-canon/files/3258801/2338_Grant_Our_Next_Neighbor_chp20of38_seed2338.txt)

[2019-06-05 21:02] riddella commented on #105
Merged 4026 and 2664 in #123 . 7437 remains.

[2019-06-05 21:15] #107 closed

[2019-06-05 21:16] riddella commented on #107
First two novels by @joeybass1 added on June 5th.

[2019-06-07 18:56] riddella opened #125 "Random Canon replacement titles 33 and 81"
Remember to use first edition scans

[code]

[2019-06-07 18:57] riddella opened #126 "Random Canon replacement titles 86, 87"
Remember to use first edition scans

[code]

[2019-06-07 19:15] riddella opened #127 "Reprint Canon titles 65,66,67 (correct numbering)"
These are Reprint Canon titles, use any edition (likely PG)

- ``3244__dickens_oliver_twist_chp11of53_seed3244.html`` url project gutenberg
- ``13699__kingsley_water_babies_chp8of8_seed13699.html`` gutenberg text good, formatting looks a bit odd. Might want to look at a scan to double-check paragraph boundaries.
- ``78__braddon_doctors_wife_chp13of37_seed78.html`` gutenberg

[2019-06-07 19:31] riddella opened #128 "Reprint canon titles 69, 70 (correct numbering)"
These are Reprint Canon titles, any edition is OK

- ``3947__melville_whale_moby_dick_chp93of138_seed3947.html`` url https://www.gutenberg.org/files/2701/2701-h/2701-h.htm
-  ``13702__morris_news_from_nowhere_chp29of32_seed13702.html`` url https://www.gutenberg.org/files/3261/3261-h/3261-h.htm

Note for metadata @riddella , moby dick counted as having 138 sections (137 chapters + epilogue)

[2019-06-07 19:42] riddella opened #129 "Reprint Canon Titles 71 72 (correct numbering)"
These are Reprint Canon titles, any edition is OK.

- THE PRINCESS AND THE GOBLIN ``8813__macdonald_princess_goblin_chp26of32_seed8813.html`` url https://www.gutenberg.org/files/34339/34339-h/34339-h.htm
- David Copperfield ``7469__dickens_david_copperfield_chp2of64_seed7469.html`` url https://www.gutenberg.org/files/766/766-h/766-h.htm

[2019-06-08 17:29] joeybass1 commented on #115
[finished chapters #115.zip](https://github.com/random-canon/random-canon/files/3268780/finished.chapters.115.zip)

[2019-06-08 22:15] hanmills commented on #121
[4427__hardy_pair_blue_eyes_chp24of40_seed4427.txt](https://github.com/random-canon/random-canon/files/3268963/4427__hardy_pair_blue_eyes_chp24of40_seed4427.txt)
[1888__zola_ladies_paradise_trans_belmont_chp10of15_seed1888.txt](https://github.com/random-canon/random-canon/files/3268964/1888__zola_ladies_paradise_trans_belmont_chp10of15_seed1888.txt)
[6163__james_washington_square_pension_beaurepas

[2019-06-11 01:02] hanmills commented on #125
[956__gibbon_the_golden_shaft_chp33of47_seed956.txt](https://github.com/random-canon/random-canon/files/3274323/956__gibbon_the_golden_shaft_chp33of47_seed956.txt)
[7726__linton_the_second_youth_chp4of21_seed7726.txt](https://github.com/random-canon/random-canon/files/3274324/7726__linton_the_second_youth_chp4of21_seed7726.txt)

[2019-06-12 02:49] ayarnell commented on #105
@riddella Yes, it was just a warning. This text is in PR #130.

[2019-06-12 02:50] ayarnell commented on #106
@riddella These texts are in PR #130

[2019-06-13 01:09] hanmills commented on #126
[13346__rhys_the_wooing_of_sheila_chp20of42_seed13346.txt](https://github.com/random-canon/random-canon/files/3283690/13346__rhys_the_wooing_of_sheila_chp20of42_seed13346.txt)
[11738__bullocks_the_barrys_chp17of17_seed11738.txt](https://github.com/random-canon/random-canon/files/3283691/11738__bullocks_the_barrys_chp17of17_seed11738.txt)

[2019-06-14 19:50] #106 closed

[2019-06-14 19:51] riddella commented on #105
Closed by #130

[2019-06-14 19:51] #105 closed

[2019-06-14 19:52] riddella opened #131 "Resolve question of gender annotation for "Laindon Hill""
Sample index 76, ATCL record: http://www.victorianresearch.org/atcl/show_title.php?tid=2360&aid=900

[2019-06-14 20:19] #95 closed

[2019-06-14 20:22] riddella opened #132 "Random Canon titles 91,92,93"
Remember to use first editions.

[code]

[2019-06-14 20:23] riddella opened #133 "Random Canon titles 94,95,96"
Remember to use first edition page images.

[code]

[2019-06-14 20:23] riddella opened #134 "Random Canon titles 97,98"
Remember to use first edition page images.

[code]

[2019-06-14 20:24] riddella opened #135 "Random Canon titles 99,100"
Remember to use first edition page images

[code]

[2019-06-15 01:36] ayarnell commented on #108
@riddella #1446 has some œ ligatures, which the quality control script did not catch. Should it have?

[2019-06-15 01:41] ayarnell commented on #108
@joeybass1 I've noticed some errors when I use the script to convert the double hyphens to em dash. Out of curiosity, how are you entering the hyphens?

[2019-06-15 02:53] ayarnell commented on #108
@riddella Texts 79-80 in PR #136

[2019-06-15 02:54] ayarnell commented on #110
@riddella Text 82 in PR #136

[2019-06-15 02:55] ayarnell commented on #113
@riddella title 88 in PR #136

[2019-06-15 02:55] ayarnell commented on #114
@riddella Titles 89-90 in PR #136

[2019-06-15 02:56] ayarnell commented on #115
@riddella replacement titles 1-2 in PR #136

[2019-06-15 12:24] riddella commented on #108
re: œ @ayarnell there is a small set of non-ASCII characters that the script assumes are OK. You can see them here: https://github.com/random-canon/random-canon/blob/5fc31081f33d6bdd219bcd7b9c5f4010b6214fc3/scripts/quality_control_checks.py#L12
So that's the story there. If you think any should be added or removed, let me know.

[2019-06-15 12:26] riddella commented on #108
@ayarnell @joeybass1 re: https://en.wikipedia.org/wiki/Soft_hyphen . It looks like this is a hyphen only used for end-of-line hyphenation. Since we "resolve" end-of-line hyphenation (to the best of our ability) we shouldn't have any soft hyphens in the text.

[2019-06-15 21:47] hanmills commented on #128
[3947__melville_whale_moby_dick_chp93of138_seed3947.txt](https://github.com/random-canon/random-canon/files/3293582/3947__melville_whale_moby_dick_chp93of138_seed3947.txt)
[13702__morris_news_from_nowhere_chp29of32_seed13702.txt](https://github.com/random-canon/random-canon/files/3293583/13702__morris_news_from_nowhere_chp29of32_seed13702.txt)

[2019-06-16 18:49] joeybass1 commented on #108
I'm only entering in two regular dashes in place of the em dash, I'm not sure how they are becoming soft hyphens.

[2019-06-16 18:51] joeybass1 commented on #108
Yes, I believe those chapters had one or two œ ligatures in some of the italicized foreign loanwords used.

[2019-06-17 18:24] riddella commented on #108
You're using notepad++ right?

The only thing I might suggest is this: before you upload, check to see
that there are no soft-hyphens. If there are, just do a global search
and replace.

On 6/16/19 2:49 PM, joeybass1 wrote:

[2019-06-18 16:26] joeybass1 commented on #116
[finished chapters #116.zip](https://github.com/random-canon/random-canon/files/3302479/finished.chapters.116.zip)

[2019-06-20 01:22] hanmills commented on #132
From what I could tell the British Library only has the first volume of That Lady Lynway digitized (chapters 1+15). Please let me know if I'm missing the second volume while I'm searching for it. Thanks!

[2019-06-20 15:22] leschnei commented on #129
[MacDonald.txt](https://github.com/random-canon/random-canon/files/3311050/MacDonald.txt)

[2019-06-21 15:36] hanmills commented on #132
[707__trollope_the_garstangs_chp1of49_seed707.txt](https://github.com/random-canon/random-canon/files/3315134/707__trollope_the_garstangs_chp1of49_seed707.txt)
[8534__boldrewood_babes_in_the_bush_chp9of27_seed8534.txt](https://github.com/random-canon/random-canon/files/3315136/8534__boldrewood_babes_in_the_bush_chp9of27_seed8534.txt)

[2019-06-22 02:50] ayarnell commented on #112
@riddella title 85 in PR #137

[2019-06-22 02:51] ayarnell commented on #121
@riddella Titles 61-64 in PR #137

[2019-06-22 02:53] ayarnell commented on #125
@riddella replacement titles 33 and 81 in PR #137

[2019-06-23 00:16] hanmills commented on #132
[5710__anonymous_ that_lady_lynway_chp33of33_seed5710.txt](https://github.com/random-canon/random-canon/files/3317368/5710__anonymous_.that_lady_lynway_chp33of33_seed5710.txt)

[2019-06-27 00:11] ayarnell commented on #90
@riddella Can some of these older issues be closed?

[2019-06-27 00:54] ayarnell commented on #116
@riddella texts 502 and 4847 are in PR #139

[2019-06-27 00:54] ayarnell commented on #126
@riddella texts 13346 and 11738 are in PR #139

[2019-06-27 00:55] ayarnell commented on #128
@riddella texts 3947 and 13702 in PR #139

[2019-06-27 18:56] leschnei commented on #129
[Copperfield.txt](https://github.com/random-canon/random-canon/files/3336249/Copperfield.txt)

[2019-06-27 20:18] riddella commented on #111
Hi @sduke do you mind if someone else grabs this task? (New texts will be posted soon.)

[2019-06-28 02:42] sduke commented on #111
Absolutely, someone else is welcome to take it!

[2019-06-28 20:57] riddella opened #140 "Random Canon replacement for index 76"
Just one novel. Remember to use first edition (1878).

[code]

[2019-06-28 21:01] riddella opened #141 "Description of fixes for gender annotation errors missing"
A (foot)note needs to be added to the paper(s) describing how we deal with gender annotation errors in the March snapshot that we discovered (e.g., #131 ). (This happened two times, I believe.)

When we encounter a gender annotation error we act as if the relevant record was not in the database in the first place. So we resample a novel for the relevant year, gender pair.

[2019-06-30 02:51] hanmills commented on #140
[2235__harwood_helena_lady_harrogate_chp14of53_seed2235.txt](https://github.com/random-canon/random-canon/files/3342487/2235__harwood_helena_lady_harrogate_chp14of53_seed2235.txt)

[2019-07-12 01:40] ayarnell commented on #140
@riddella 2235 is in PR #143

[2019-07-12 21:12] riddella opened #144 "Gender question on sample index 88 (1887, unknown)"
Sample index 88 should have gender unknown. Author of title 1682 "Love the Conqueror" which is currently chosen is "Sydney Carstone"

Sydney is a male name in the 19th century, right?

@tjbassett

[2019-07-12 21:21] #108 closed

[2019-07-12 21:21] #115 closed

[2019-07-12 21:21] #110 closed

[2019-07-12 21:21] #113 closed

[2019-07-12 21:21] #114 closed

[2019-07-19 01:16] joeybass1 commented on #117
[finished chapters #117.zip](https://github.com/random-canon/random-canon/files/3408971/finished.chapters.117.zip)

[2019-07-20 17:43] hanmills commented on #111
Is this one still up for grabs?

[2019-07-21 20:07] riddella commented on #111
Yes, please take it.

[2019-07-26 20:06] #112 closed

[2019-07-26 20:11] #125 closed

[2019-07-26 20:19] #121 closed

[2019-07-27 00:22] #116 closed

[2019-07-27 00:24] #126 closed

[2019-07-27 00:27] #128 closed

[2019-07-27 00:42] #129 closed

[2019-07-27 00:47] #132 closed

[2019-07-27 00:47] riddella commented on #132
@hanmills I take it you found the second volume at the British Library?

[2019-07-27 00:51] #127 closed

[2019-07-27 00:55] #140 closed

[2019-07-27 00:56] riddella commented on #131
Closed in #140

[2019-07-27 00:56] #131 closed

[2019-07-27 00:57] #93 closed

[2019-07-27 00:59] riddella commented on #90
@ayarnell absolutely. I've missed a few of these. I plan to close them when I add the texts into the relevant `random_canon.csv` or `reprint_canon.csv`.

[2019-07-27 00:59] #90 closed

[2019-07-27 00:59] #91 closed

[2019-07-27 01:00] riddella commented on #117
Thanks @joeybass1. Glad to have you back encoding.

[2019-07-27 15:57] leschnei commented on #135
[Ware.txt](https://github.com/random-canon/random-canon/files/3438347/Ware.txt)

[2019-07-27 16:08] leschnei commented on #135
I'm having some difficulty finding the second title. At The Circulating Library directs me to the same title by a different author

[2019-07-27 17:16] hanmills commented on #132
Yes, I did. Thanks!

[2019-07-27 17:23] riddella commented on #135
Hi @leschnei Looks like Troy indicated this one is only at the british library. Have you entered one from there before? The ATCL record is this one: http://www.victorianresearch.org/atcl/show_title.php?tid=5225&aid=1784

[2019-07-27 18:08] leschnei commented on #135
@riddella unfortunately that one seems to take me to the one by Guy de Maupassant...

[2019-07-28 00:25] ayarnell commented on #117
@riddella Titles 5-7 are in PR #146

[2019-07-28 00:34] ayarnell commented on #135
@leschnei Try this link:  http://access.bl.uk/item/viewer/ark:/81055/vdc_00000004A1EA#?c=0&m=0&s=0&cv=3&xywh=-904%2C-1%2C4311%2C1969

[2019-07-28 00:47] ayarnell commented on #135
@leschnei Here is the PDF of Chapter 7 from British Library. It's not a super intuitive site to use. [Digital Store 12634.n.1._Strong as Death Collection Item_extract.pdf](https://github.com/random-canon/random-canon/files/3438745/Digital.Store.12634.n.1._Strong.as.Death.Collection.Item_extract.pdf)

[2019-07-28 00:56] ayarnell commented on #135
@riddella The Ware chapter #7400 is in PR #147

[2019-07-28 10:37] leschnei commented on #135
Awesome Amy, thanks! I tried searching there as indicated and had no luck--how were you able to find it?

[2019-07-30 20:11] #117 closed

[2019-07-30 20:16] riddella commented on #118
13 is *not* Signora right now. Will resolve separately. All other substitutions have been made.

[2019-07-30 20:16] #118 closed

[2019-07-30 20:17] riddella opened #149 "Random Canon index 12 and 13 need to be corrected"
Index 12 and 13 should be:
[code]
but things are wrong now:
[code]
For 12 at least, Edmund David Lyon (1825–1891) is not a woman novelist.

[2019-07-30 20:25] #149 closed

[2019-07-30 20:56] riddella commented on #111
Note for @riddella Sigerson belongs at index 79 with the corrected numbering.

[2019-07-30 21:00] riddella commented on #111
Another note for @riddella , Murray index is correct at 84.

[2019-08-02 17:22] riddella commented on #144
Verdict: ~98% of Sydneys in the 1880s are men.

[2019-08-04 20:00] riddella opened #150 "Random Canon replacement for sample index 88"
Please be sure to use the first edition.

[code]

[2019-08-04 20:00] riddella commented on #134
@joeybass1 How's this one going?

[2019-08-04 20:04] riddella commented on #144
Issue #150 will replace Carstone.

[2019-08-04 20:04] #144 closed

[2019-08-06 18:11] riddella commented on #133
@joeybass1 have you started on these? May someone else take them?

[2019-08-06 18:12] riddella commented on #134
@joeybass1 I'm going to assume you haven't started these and hand them off to @ayarnell . If this is wrong, that's fine. It's not a big problem if we have two versions of the same chapter.

[2019-08-07 02:19] ayarnell commented on #135
@leschnei No prob! I searched the main catalog for Clarke Strong as Death. It came up as the first option, BUT you have to select the "I want this" tab to get the link to the digital version. Otherwise it is kind of hidden.

[2019-08-13 02:00] joeybass1 commented on #133
[finished chapters #133.zip](https://github.com/random-canon/random-canon/files/3494974/finished.chapters.133.zip)

[2019-08-16 11:17] riddella commented on #111
@hanmills just checking in. Are you still working on these two?

[2019-08-16 18:38] hanmills commented on #111
@riddella Yes they will be finished this weekend.

[2019-08-16 18:58] riddella commented on #111
Great! These are among the last few we need to reach 100 titles.

On 8/16/19 2:38 PM, hanmills wrote:

[2019-08-18 02:14] ayarnell commented on #134
@riddella titles 97 and 98 are in PR #151

[2019-08-19 13:24] hanmills commented on #111
[6802__murray_a_man_of_genius_chp2of8_seed6802.txt](https://github.com/random-canon/random-canon/files/3516086/6802__murray_a_man_of_genius_chp2of8_seed6802.txt)
[11201__sigersons_a_ruined_race_chp4of23_seed11201.txt](https://github.com/random-canon/random-canon/files/3516087/11201__sigersons_a_ruined_race_chp4of23_seed11201.txt)

[2019-08-20 16:09] leschnei commented on #135
[StrongasDeath.txt](https://github.com/random-canon/random-canon/files/3521570/StrongasDeath.txt)

[2019-08-20 16:44] leschnei commented on #135
[StrongasDeath.txt](https://github.com/random-canon/random-canon/files/3521683/StrongasDeath.txt)

Previous attachment left out author at beginnign

[2019-08-21 19:52] leschnei commented on #150
Regarding the instruction, Encode a redaction using ⸺. In Unicode this character has the following name: ⸺ U+2E3A TWO-EM DASH (omission dash):

Do I just enter "⸺ U+2E3A"?

[2019-08-23 14:31] riddella commented on #134
Great. Six more to 100.

[2019-08-23 14:31] #134 closed

[2019-08-23 15:09] riddella commented on #150
Just the "⸺" (without quotation marks). You should be able to cut and paste it into the text, just as one would cut and paste some other sort of special character that's difficult/impossible to type on a US keyboard (e.g., ¾, ǫ).

[2019-08-23 15:10] riddella commented on #150
I think this is the very last text before we hit 100. :100:

[2019-08-23 19:23] riddella opened #153 "Reprint Canon 89, 90"
These are two Reprint Canon Titles. Feel free to use Gutenberg for this.

89 | Kipling | Stalky and Co. | 1899 | 9109__kipling_stalky_chp4of9_seed9109.html section/chapter is “ THE IMPRESSIONISTS. “
-- | -- | -- | -- | --
90 | Wells | The Invisible Man | 1897 | 8594__wells_invisible_man_chp16of29_seed8594.html (29 chapters, including epilogue)

[2019-08-23 19:24] riddella opened #154 "Reprint Canon 91,92"
These are two Reprint Canon Titles. Feel free to use Gutenberg for this.

91 | Trollope | Phineas Redux | 1874 | 5781__trollope_phineas_redux_chp7of80_seed5781.html
-- | -- | -- | -- | --
92 | Stevenson | The Black Arrow | 1888 | 7927__stevenson_black_arrow_chp18of33_seed7927.html 33 chps counting the prologue, chp 18 should be chapter 3 of book 3 CHAPTER III—ST. BRIDE’S CROSS

[2019-08-23 19:24] riddella opened #155 "Reprint Canon 93,94"
These are Reprint Canon Titles. Feel free to use Gutenberg for this.

93 | James | The Awkward Age | 1899 | 7962__james_awkward_age_chp9of38_seed7962.html chapter 9 should be the final chapter of book 2
-- | -- | -- | -- | --
94 | Craik | John Halifax, Gentleman | 1856 | 3700__craik_john_halifax_chp2of40_seed3700.html

[2019-08-23 19:25] riddella opened #156 "Reprint Canon 95,96,97"
These are Reprint Canon Titles. Feel free to use Gutenberg for this.

95 | Trollope | The Warden | 1855 | 7448__trollope_the_warden_chp18of21_seed7448.html
-- | -- | -- | -- | --
96 | Wilde | A House of Pomegranates | 1891 | 9112__wilde_house_pomegranates_chp2of4_seed9112.html
97 | Cooper | The Deerslayer | 1841 | 3203__cooper_deerslayer_chp14of33_seed3203.html

[2019-08-23 19:25] riddella opened #157 "Reprint Canon 98,99,100"
These are Reprint Canon Titles. Feel free to use Gutenberg for this.

98 | Trollope | Phineas Finn, the Irish Member | 1869 | 5498__trollope_phineas_finn_chp20of76_seed5498.html
-- | -- | -- | -- | --
99 | Kipling | Captains Courageous | 1897 | 9107__kipling_captains_courageous_chp2of10_seed9107.html
100 | Alcott | Work | 1873 | 5830__alcott_work_chp1of20_seed5830.html

[2019-08-23 19:25] riddella opened #158 "Reprint Canon Titles 101,102"
These are two Reprint Canon Titles. Feel free to use Gutenberg for this.

101 | Du Maurier | Trilby | 1894 | 4878__du_maurier_trilby_chp7of8_seed4878.html part 7
-- | -- | -- | -- | --
102 | Trollope | Lady Anna | 1874 | 5779__trollope_lady_anna_chp39of48_seed5779.html chp 39 is in second volume of gutenberg edition

[2019-08-23 21:14] ayarnell commented on #135
@riddella Title 100 in PR #159

[2019-08-23 21:15] ayarnell commented on #153
@riddella Reprint titles 89 and 90 in PR #159

[2019-08-25 02:05] ayarnell commented on #154
@riddella Texts in PR #160

[2019-08-25 16:53] leschnei commented on #150
[PoorNellie.txt](https://github.com/random-canon/random-canon/files/3538391/PoorNellie.txt)
Wahoo!!

[2019-08-29 16:26] #133 closed

[2019-08-29 16:46] #141 closed

[2019-09-04 21:15] #135 closed

[2019-09-04 21:24] #154 closed

[2019-09-07 15:38] leschnei commented on #156
[Warden.txt](https://github.com/random-canon/random-canon/files/3586740/Warden.txt)

[2019-09-10 11:34] #153 closed

[2019-09-12 00:45] hanmills commented on #157
[5498__trollope_phineas_finn_chp20of76_seed5498.txt](https://github.com/random-canon/random-canon/files/3603234/5498__trollope_phineas_finn_chp20of76_seed5498.txt)
[9107__kipling_captains_courageous_chp2of10_seed9107.txt](https://github.com/random-canon/random-canon/files/3603235/9107__kipling_captains_courageous_chp2of10_seed9107.txt)
[5830__alcott_work_chp1of20_seed5830.txt](https://github.com/r

[2019-09-19 15:37] riddella commented on #158
@sduke is it OK if I hand this off to someone else? Or are you almost done?

[2019-09-19 15:49] sduke commented on #158
Almost done! Should have them wrapped up tonight.

[2019-09-20 01:07] sduke commented on #158
[4878_Du_Maurier_Trilby_chp7of8_seed4878.txt](https://github.com/random-canon/random-canon/files/3633749/4878_Du_Maurier_Trilby_chp7of8_seed4878.txt)
[5779_Trollope_Lady_Anna_chp39of48_seed5779.txt](https://github.com/random-canon/random-canon/files/3633750/5779_Trollope_Lady_Anna_chp39of48_seed5779.txt)

[2019-10-06 02:15] ayarnell commented on #155
@riddella Texts 3700 and 7962 are in PR #162

[2019-10-08 18:19] #155 closed

[2019-10-08 18:21] #111 closed

[2019-10-10 22:16] ayarnell commented on #150
@riddella 811 in PR #163

[2019-10-10 22:16] ayarnell commented on #156
@riddella Texts 7448, 9112, and 3203 in PR #163

[2019-10-10 22:18] ayarnell commented on #157
@riddella Texts 5498, 9107, and 5830 in PR #164

[2019-10-10 22:18] ayarnell commented on #158
@riddella Texts 4878 and 5779 are in PR #164

[2019-10-11 16:34] #150 closed

[2019-10-11 16:34] #156 closed

[2019-10-11 16:39] #157 closed

[2019-10-11 16:39] #158 closed

[2019-10-11 16:39] riddella commented on #124
Good idea but closing it for now.

[2019-10-11 16:39] #124 closed

[2020-08-10 16:11] riddella opened #165 "A Romance of Acadia by Knight appears to have 19 chapters, not 29."
Filename: `2534__knight_romanceofacadia_chp16of29_seed2534.html`

HathiTrust page images: https://catalog.hathitrust.org/Record/100029157

If this is indeed the case, the total number of chapters indicated in the filename needs to be changed. We can still use Chapter 16 but we need to add a note about why we randomly sampled it (under the assumption that there were 29 chapters).